@media(max-width:1450px){
    .contact__form--page-contacts{
        right: 0;
    }
}
@media(max-width:1250px){
    .top__inner{
        display: block;
    }
    .top__content{
        margin: 0 auto;
        padding-top: 20px;
    }
    
}
@media(max-width:1200px){
    .header__top-slogan{
        display: none;
    }
    .header__menu-list{
        margin: 0 50px;
    }
    .advantages__item{
        margin: 0 15px;
    }
    
    .mailing__inner{
        display: block;
       padding-bottom: 50px;
    }
    .mailing__descr{
        margin-bottom: 30px;
    }
    .group-course__inner{
        align-items: flex-end;
    }
    .group-course__info{
        display: block;
    }
    .all-course__card-icon{
        display: block;
        margin-bottom: 20px;
    }
    .group-course__lesson::after,
    .group-course__date::after{
        display: none;
    }
    .group-course__info{
        margin-bottom: 25px;
    }
    .group-course__card-price{
        margin-bottom: 20px;
    }
    .group-course__content{
        padding-left: 20px;
        margin-right: 15px;
    }
    .contact__form--page-contacts{
        display: block;
        position: static;
        top: 0;
        max-width: 100%;
        border-radius: 0px;
    }
}
@media(max-width:1080px){
    .lesson::before{
        display: none;
    }
    .all-course__card{
        flex-basis: calc(50% - 20px);
    }
    
}
@media(max-width:1020px){
    .teachers__card {
        flex-basis: calc(50% - 100px);
        margin-bottom: 50px;
    }
    .teachers__inner{
        margin-bottom: 0;
    }
    .contact__content{
        padding-bottom: 11px;
    }
    .contact__items{
        display: block;    
        
    }
    .contact__item{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__item{
        margin-bottom: 38px;
        &:nth-last-child(){

            display: block;
            max-width: 100%;
        }
    }
    .reviews__card{
        flex-basis: calc(50% - 23px);
    }
    .info__inner{
        display: block;
    }
    .info__list{
        width: 100%;
    }
}
@media(max-width:920px){
    .header__top-social{
        display: none;
    }
    .header__top-inner{
        span{
            display: none;
        }
    }
    .advantages{
        margin-bottom: 50px;
    }
    .advantages__inner{
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .advantages__item{
        margin: 0 20px 20px 0;
        width: 45%;
    }
    
    .start__inner{
        display: block;
        text-align: center;
    }
    .start__content{
        margin: 0 auto 54px;
    }
    .start__image{
        margin: 0 auto;
    }
    
    // .lesson__inner{
    //     display: block;
    // }
    .lesson__text{
        margin-right: 20px;
    }
    .curse__card{
        flex-basis: calc(50% - 15px);
    }
    .methods__item{
        flex-basis: calc(50% - 30px);
    }
    .group-course__content{
        padding-top: 20px;
    }
}
@media(max-width:860px){
    .header{
        position: relative;
    }
    .header__top-box{
        display: none;
    }
    .burger__btn{
        display: block;
        z-index: 2;
        transition: all 2s;
        .burger__btn-line{
            opacity: 1;
            transition: all 0.7s;
        }
        &::after{
            
            transition: all 0.4s;

        }
        &::before{
            transition: all 0.4s;

        }
    }
    .burger__btn.burger__btn--active{
        position: absolute;
        right: 15px;
        z-index: 3;
        .burger__btn-line{
            opacity: 0;
            transition: all 0.2s;
        }
        &::after{
            opacity: 1;
            transform: translateY(-7px) rotate(-135deg);
            transition: all 0.4s;
            width: 23px;
        }
        &::before{
            transition: all 0.4s;
            transform: translateY(6px) rotate(135deg);
            width: 23px;
        }
    }
    .header__nav{
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .header__menu{

        .social__list{
            display: block;
        }
        .header__top-box{
            display: block;
            color: #fff;
            margin-bottom: 33px;
        }
        .header__menu-list{
            display: block;
            min-height: 100%;
            margin: 0 ;
            span{
                display: none;
            }
            li{
                margin-bottom: 40px;
            }
        }
        .social__list-title{
            display: block;
        }
    }
    
    .header__nav{
        transform: translateY(-300%);
        transition: all  1s ;
        display: block;
        // &.header__nav--active{
        //     display: block;
        //     padding: 25px;
        //     min-height: 100%;
        //     opacity: 1;
        //     transform: translateY(0%);
        //     transition: all  2s ;
        // }
    }
    .header__nav.header__nav--active{
        padding: 25px;
        min-height: 100%;
        transform: translateY(0%);
        transition: all  0.5s ;
        z-index: 2;
    }
    .header__top-phone{
        transition: all 0.5s;
        &::before{

            background-size: cover;
        }
    }
    .header__top-phone--active{
        transform: translateX(100%);
        transition: all 0.2s;
    }
    .header__top-inner{
        height: 73px;
    }
    .lesson__inner{
        display: block;
        text-align: center;
        
    }
    .lesson__title{
        padding-top: 37px;
        max-width: 100%;
        font-size: 42px;
        line-height: 46px;
    }
    .lesson__subtitle{
        max-width: 100%;
    }
    .lesson__form{
        padding-top: 50px;
        max-width: 100%;
        padding-bottom: 50px;
    }
    .group-course__inner{
        display: block;
        background-color: transparent;
        border: none;
    }
    .group-course{
        background-color: #1861B2;
    }
    .group-course__info{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:800px){
    .teachers__inner{
        margin-left: -100px;
    }
    .all-course__card{
        flex-basis: 100%;
        margin-right: 50px;
    }
}
@media(max-width:680px){
    .top__inner{
        position: relative;
    }
    .top__btn{
        position: absolute;
        bottom: 0;
        left: -15px;
        display: block;
        width: 110%;
        &.btn{
            border-radius: 0px;
        }
    }
    .top__images{
       padding-bottom: 56px;
       img{
           max-width: 100%;
       }
    }
    .top__title{
        font-size: 42px;
        line-height: 48px;
        &--small{
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        &--green{
            font-size: 40px;
            line-height: 46px;
        }
        &--large{
            font-size: 56px;
            line-height: 68px;

        }
    }
    .methods__item{
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .methods__subtitle{
        margin-bottom: 45px;
    }
    .mailing__form{
        form{

            padding-bottom: 86px;
        }
        button{
            top: auto;
            bottom: 0;
            left: 0;
        }
    }
    .group-course__content{
        padding-left: 0;
    }
    .group-course__card-price{
        margin-bottom: 40px;
    }
    .reviews__card{
        flex-basis: 100%;
    }
}
@media(max-width:600px){

    .advantages__item{
        margin: 0 0 57px 0;
        width: 100%;
        text-align: center;
    }
    .advantages__inner{
        padding-top: 30px;
    }
    .advantages__item-img{
        margin-bottom: 18px;
    }
    .advantages__item-descr{
        display: inline-block;
        max-width: 300px;
    }
    .curse__inner{
        display: block;
    }
    .curse__card{
        width: 100%;
    }  
    .contact__form--page-contacts{
        padding: 0 15px;
    }
}
@media(max-width:520px){
    .top__title{
        font-size: 32px;
        line-height: 37px;
        &--small{
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 15px;
        }
        &--green{
            font-size: 28px;
            line-height: 33px;
           
        }
        &--large{
            font-size: 44px;
            line-height: 52px;
        }
    }
    .header__top-phone{
        font-size: 15px;
        line-height: 18px;
        padding-left: 28px;
        
        &::before{
            width: 16px;
            height: 16px;
        }
    }
    .start__title{
        max-width: 100%;
    }
    .lesson__title{
        padding-top: 37px;
        max-width: 100%;
        font-size: 38px;
        line-height: 46px;
    }
    .mailing__inner{
        padding-top: 50px;
    }
    .mailing__title{
        font-size: 32px;
        line-height: 38px;
    }
    .teachers__card{
        flex-basis: 100%;
        // max-width: 230px;
    }
    .teachers__title{
        margin-bottom: 14px;
    }
    .teachers__subtitle{
        margin-bottom: 42px;
    }
    .footer__item-title{
        font-size: 18px;
        line-height: 21px;
    }
    .footer__list{
        li{
            font-size: 11px;
            line-height: 13px;
        }
    }
    .footer .social__link-icon{
        width: 24px;
        height: 24px;
    }
    .footer .social__list li:not(:last-child){
        margin-right: 12px;
    }
    .footer__inner{
        margin-bottom: 30px;
    }
}

@media(max-width:400px){
    .header__top-login{
        margin-left: 0;
    }
    .header__top-phone {
        display: none;
    }
    .top__title{
        font-size: 26px;
        line-height: 32px;
        &--small{
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 15px;
        }
        &--green{
            font-size: 22px;
            line-height: 38px;
        }
        &--large{
            font-size: 40px;
            line-height: 48px;
        }
    }
    .reviews__author-name {
        font-size: 16px;
        line-height: 19px;
    }
}