@import "vars";
@import "global";




// start header 
.header{
    &__top-inner{
        display: flex;
        align-items: center;
        height: 116px ;
        // justify-content: space-between;
    }
    .logo{
        margin-right: 32px;
    }
    &__top-slogan{
        width: 176px;
        font-family: 'Inter', sans-serif;
        position: relative;
        margin-right: 43px;
        &::before{
            content: "";
            position: absolute;
            width: 1px;
            height: 41px;
            background-color: #E3E3E3;
            right: -43px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .social{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .social__list {
        padding: 0 36px;
        position: relative;
        li:not(:last-child){
            margin-right: 12px;
        } 
        &::before{
            content: "";
            position: absolute;
            width: 1px;
            height: 41px;
            background-color: #E3E3E3;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .social__link-instagram{
        background-image: url("../images/icons/social/instagram.svg");
        width: 24px;
        height: 24px;
    }
    .social__link-facebook{
        background-image: url("../images/icons/social/facebook.svg");
        width: 24px;
        height: 24px;
    }
    .social__link-pinterest{
        background-image: url("../images/icons/social/pinterest.svg");
        width: 24px;
        height: 24px;
    }
    .social__link-twitter{
        background-image: url("../images/icons/social/twitter.svg");
        width: 24px;
        height: 24px;
    }
    &__top-phone{
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        padding-left: 40px;
        position: relative;
        margin: 0 28px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/phone.svg');
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 1px;
            height: 41px;
            background-color: #E3E3E3;
            right: -28px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__top-box{
        margin-left: 36px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
    }
    &__top-registred{
        padding-left: 23px;
        position: relative;
        margin-right: 20px;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/lock.svg');
            width: 13px;
            height: 16px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after{
            content: '';
            position: absolute;
            width: 1px;
            height: 26px;
            background-color: $text;
            top: 50%;
            transform: translateY(-50%);
            right: -20px;
        }
    }
    &__top-login{
        margin-left: 20px;
        padding-left: 26px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/key.svg');
            width: 16px;
            height: 16px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__nav{
        background-color: $green;
        
    }
    &__menu-list{
        display: flex;
        align-items: center;
        height: 55px;
        
        li{
            color: #fff;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            position: relative;
            margin: 0 54px;
            &:not(:last-child)::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 15px;
                background-color: #fff;
                right: -54px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
// end header 

// start top
.top{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 554px;
    &__inner{
        text-align: center;
        max-width: 560px;
    }
    &__title{
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        color: #fff; 
        padding-top: 100px;
        font-weight: 400;
        &--small{
            font-weight: 300;
            font-size: 32px;
            line-height: 37px;
            margin-bottom: 26px;
            display: inline-block;
        }
        &--green{
            background-color: $green;
            font-size: 46px;
            line-height: 54px;
            font-weight: 700;
            border-radius: 0px 22px;
            padding: 4px 22px 4px 16px;
            margin-bottom: 11px;
            display: inline-block;
        }
        &--large{
            font-size: 66px;
            line-height: 77px;
            font-weight: 700;
            margin-top: 3px;
            margin-bottom: 15px;
            display: inline-block;
        }
    }
    &__btn{
        padding: 17px 42px;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
    }
} 
// end top 

// start advantages
.advantages{
    margin-bottom: 103px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-top: 67px;
    }
    &__item{
        width: 260px;
        text-align: center;
        
    }
    &__item-img{
        img{

            max-width: 100%;
        }
        margin-bottom: 28px;
        height: 85px;
    }
    &__item-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }
}
// end advantages 
